<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.StudyApplicationMapper">
    
    <insert id="insertApplication" parameterType="com.study.model.StudyApplication" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO study_applications (study_id, user_id, applied_at)
        VALUES (#{studyId}, #{userId}, NOW())
    </insert>
    
    <select id="existsByStudyIdAndUserId" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM study_applications
        WHERE study_id = #{studyId} AND user_id = #{userId}
    </select>
    
    <select id="findByUserId" parameterType="long" resultType="com.study.model.StudyApplication">
        SELECT sa.id, sa.study_id, sa.user_id, sa.applied_at,
               s.title as study_title, u.name as user_name
        FROM study_applications sa
        JOIN studies s ON sa.study_id = s.id
        JOIN users u ON sa.user_id = u.id
        WHERE sa.user_id = #{userId}
        ORDER BY sa.applied_at DESC
    </select>
    
    <select id="countByStudyId" parameterType="long" resultType="int">
        SELECT COUNT(*)
        FROM study_applications
        WHERE study_id = #{studyId}
    </select>
    
    <delete id="deleteByStudyIdAndUserId">
        DELETE FROM study_applications
        WHERE study_id = #{studyId} AND user_id = #{userId}
    </delete>
    
</mapper>
